html,
body {
  padding: 0;
  margin: 0;
}

header {
  background-color: purple;
  height: 60px;
  grid-area: header;
}

nav {
  background-color: beige;
  grid-area: menu;
}

article {
  background-color: aquamarine;
  height: 80px;
  grid-area: content;
}


footer {
  /*clear: both*/
  background-color: pink;
  height: 120px;
  grid-area: footer;
}

#container {
  background-color: orange;
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
    'header header header header'
    'menu content content content'
    'footer footer footer footer'
  ;
}