html,

body {
  padding: 0;
  margin: 0;
}



header {
  background-color: purple;
  height: 60px;
}

section {
  background-color: green;
  flex-direction: row-reverse;
  overflow: hidden;
  display: flex;
}


nav {
  background-color: beige;
  width: 25%;
}

article {
  background-color: aquamarine;
  height: 80px;
  width: 75%;
}

#container {
  background-color: orange;
  max-width: 800px;
  margin: 0 auto;

}

footer {
  /*clear: both*/
  background-color: pink;
  height: 120px;
}